# SQL Assignment
#### In this assignment you will be solving a series of SQL Puzzles using the sqlalchemy library. 
#### You will be querying from a database consisting of three tables regarding tweets. A description of these tables along with their individual schema and print outs are provided below.
#### Simply run the first 6 cells below, they are just there for setup purposes

In [ ]:
import pandas as pd
import numpy as np
from pathlib import Path
import sqlalchemy

In [ ]:
data_dir = Path("C:\\Users\\rvand\\Downloads\\Twitter Database.db")

In [ ]:
data_dir

In [ ]:
engine = sqlalchemy.create_engine(f"sqlite:///{data_dir}")

In [ ]:
connection = engine.connect()

In [ ]:
engine.table_names()

### Description of the tables
The 'dataset' table has a row for every tweet from a politician regarding the 2020 Election

The 'hashtag_donaldtrump' table has a row for every tweet written about Donald Trump

The 'hashtag_joebiden' table has a row for every tweet written about Joe Biden

### Here we are able to access the schema for the tables that we have in our database

In [ ]:
for exp in connection.execute('SELECT sql FROM sqlite_master;'):
    print(exp[0])

### Here's what our tables look like:

In [ ]:
query = """SELECT * FROM dataset LIMIT 5;"""
pd.read_sql(query, engine)

In [ ]:
query_1 = """SELECT * FROM hashtag_donaldtrump LIMIT 5;"""
pd.read_sql(query_1, engine)

In [ ]:
query_2 = """SELECT * FROM hashtag_joebiden LIMIT 5"""
pd.read_sql(query_2, engine)

### Part 1: Using SQL to explore our data
SQL can be a great way to explore the tables in our database and learn a little more about them. In this section you might need to use clauses such as WHERE, ORDER BY, and LIMIT along with arithmetic operations.

i) How many records are in the 'dataset' table?

In [ ]:
beginner_query = """"""
pd.read_sql(beginner_query, engine)

ii) Find the total number of tweets about Donald Trump that had more than 20 likes

In [ ]:
warmup_query = """"""
pd.read_sql(warmup_query, engine)

iii) Fill in the quotations for "avg_query" with the SQL query that would return the average number of likes for the Donald Trump tweets

In [ ]:
avg_query = """"""
pd.read_sql(avg_query, engine)

iv) Repeat for the biden tweets

In [ ]:
avg_joe = """"""
pd.read_sql(avg_joe, engine)

v) Repeat the above two queries, but for the retweet counts

In [ ]:
retweet_trump = """"""
pd.read_sql(retweet_trump, engine)

In [ ]:
retweet_biden = """"""
pd.read_sql(retweet_biden, engine)

vi) Hm... these average retweet counts seem a little crazy. Why do you think this is? Begin with the Donald Trump tweets and provide some queries to explain the nature of this extremely high average. $\textbf{Use as many cells as needed}$

vii) Explore the data and think of a way in which you could appropriately remove the outliers within this column to get a more reliable figure. Explain what you did and why (use as many cells as you need).

viii) Repeat your above process, but for the Biden tweets

ix) Tricky puzzle: Use a SQL Query to derive the variance of the retweet_count for the Trump tweets. 

$\textbf{Hint:}$ The version of SQL supported by sqlalchemy does not have a built-in VARIANCE() function therefore you will have to get a little creative.

In [ ]:
var_query = """"""
pd.read_sql(var_query, engine)

x) Final Boss Puzzle

Part 1: Find the number of tweets that are below the average retweet count that you found in part vii for the Trump tweets

In [ ]:
below_average = """"""
pd.read_sql(below_average, engine)

Part 2: Find the ratio between the number of tweets, excluding the outliers you found in part vii, that get below average retweet counts and the total number of tweets, excluding the outliers you found in part vii. 

$\textbf{Note:}$ sqlalchemy does not support '/' division, so just have your query return the numerator and denominator as separate values in a table. Make sure the ratio between the two values is equal to .904332565

In [ ]:
ratio_query = """"""
pd.read_sql(ratio_query, engine)

### Part 2: Joins
In this section you will need to use INNER JOIN, LEFT JOIN/RIGHT JOIN, GROUP BY, DISTINCT, ORDER BY, Aliases, as well as Subqueries.

i) Basic Inner Join: Find all of the politicians who tweeted about Donald Trump. Make sure there is only one row per politician. 

$\textbf{Answer this question first and use as many cells as needed:}$ Which column should we be joining on and why? How can you tell?

$\textbf{Next}$ fill in the solution_join with the query that joins on the two columns that you have deemed fit to be joined on.

$\textbf{Hint:}$ how can you use other fields to assess the validity of a column to join on between the two tables when the two tables may have multiple columns that can be joined on?

In [ ]:
solution_join = """"""
pd.read_sql(solution_join, engine)

$\textbf{True or False:}$ if we were to switch the order of the tables in the above query, the output would change. Explain your answer.

ii) Write a query listing the names of the politicians who tweeted about Biden. One row per politician.

In [ ]:
biden_join = """"""
pd.read_sql(biden_join, engine)

iii) How many records do the Biden tweets table and the politician tweets table share? Answer using a query.

In [ ]:
biden_share_query = """"""
pd.read_sql(biden_share_query, engine)

iv) How many records do the Trump tweets table and politician tweets table share? Answer using a query.

In [ ]:
trump_share_query = """"""
pd.read_sql(trump_share_query, engine)

v) Now return the number of tweets, in descending order, for each politician that tweeted about Trump. Make sure there are no duplicate values in your result.

In [ ]:
num_tweets_join = """"""
pd.read_sql(num_tweets_join, engine)

vi) Write a query that results in the average number of retweets, in ascending order, that each politician received when tweeting about Donald Trump along with their Political Party. Again, make sure there are no duplicate values in your result.

In [ ]:
comp_join = """"""
pd.read_sql(comp_join, engine)

vii) Write a query that results in a table showing the politicians who tweeted about Trump and Biden during the election, make sure there are no duplicate values in your result.

$\textbf{Note:}$ This query can be written many different ways, but you can cross-reference your two resulting tables in parts i and ii to make sure that you have a correct output.

In [ ]:
both_candidate_query = """"""
pd.read_sql(both_candidate_query, engine)

viii) Part 1: Write a query such that it returns a table with all of the politicians who tweeted during the election along with the average retweet count and average likes of those who tweeted about Donald Trump. Order first by retweet count in descending order breaking ties by Name in descending order. Make sure there is one row per Politician.

In [ ]:
solution_pt1 = """"""
pd.read_sql(solution_pt1, engine)

Part 2: Write a query that can assure you that your answer above has the correct number of records.

In [ ]:
check_query = """"""
pd.read_sql(check_query, engine)